.btn {
    outline: none;
    border: none;
    background-color: transparent;
    border: .1rem solid rgba(255,255,255,.3);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    transition: transform 500ms;
}

.btn:hover{
    transform: scale(1.05);
}