.card {
    outline: none;
    box-shadow: 0 0 .3rem rgba(255,255,255,0.1);
    background-color: transparent;
    border-radius: 2px;
    transition: border 500ms;
    border: 1px solid transparent;
    transition: border 500ms;
    display: grid;
    justify-items: start;

    &:hover {
        border: 1px solid $primary-clr;
    }
    &_link {
        text-decoration: none;

    }

    &_img {
        display: block;
        width: 100%;
        object-fit: scale-down;
        background-size: cover;
        background-position: center;
    }

    &_title {

        padding: 2.5rem .5rem;
        color: $primary-clr;
        font-size: 1.8rem;
        filter: brightness(90%);
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

}