.card {
    outline: none;
    box-shadow: 0 0 .3rem rgba(255,255,255,0.1);
    background-color: transparent;
    border-radius: 2px;
    transition: border 500ms;
    border: 1px solid transparent;
    transition: border 500ms;
    &:hover {
        border: 1px solid $primary-clr;
    }
    &_link {
        text-decoration: none;

    }

    &_img {
        width: 100%;
        object-fit: scale-down;
        background-size: cover;
        background-position: center;
    }

    &_title {
        color: #fff;
        padding: .5rem;
        font-size: 1.6rem;
        filter: brightness(90%)
    }

}