.navbar {
    min-height: 15vh;
    width: 100%;
    box-shadow: 0 0 .2rem rgba(255,255,255,.4);
    display: grid;
    grid-template-columns:1fr repeat(10,1fr) 1fr;

    &_logo {
        color:$primary-clr;
        outline: none;
        margin-left: 7rem;
        grid-column: 1 / span 4;
        justify-self: start;
        align-self: center;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background:
        linear-gradient(90deg, #b21f1f 25%,#dd1818 50%, #fdbb2d 75%);
        background-clip: text;
        color: transparent;
        animation: user 4000ms ease-in-out alternate-reverse infinite;
    }
    &_list {
        grid-column: 5 / 11;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(min-content, 1fr));
        overflow: hidden;
    }
    &_item{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 500ms opacity 500ms filter 500ms;
        &:hover {
            background-color:$primary-clr;
        }
    }
    &_link {
        color: #fff;
        filter: brightness(70%);
        text-decoration: none;
        font-size: 1.8rem;
        text-transform: uppercase;
        transition: padding 500ms;
    }
    &_logout {
        grid-column: 8 / span 1;

    }
    &_profile {
        grid-column: 7 / span 1;
    }
    &_create {
        grid-column: 6 / span 1;
    }
    &_movies {
        grid-column: 5 / span 1;
    }
}
@media (max-width: 600px){
    .navbar_logo {
        display: none;
    }
    .navbar_list {
        grid-column: 1 / 10;
        margin-left: -7rem;

    }
    .navbar_link {
        font-size: 1.4rem;
    }
}

@media (max-width: 1200px) {
    .navbar_logo {
        font-size: 3rem;
    }
}